* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}


.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}


h1 {
  font-size: 24px;
  margin-bottom: 15px;
}


.input_cointainer {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  background-color: #333
  ;
}


#todo_input {
  flex: 1;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
}


#add-task-btn {
  padding: 10px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#add-task-btn:hover {
  background: #0056b3;
}


#todo_list {
  list-style: none;
  padding: 0;
}

/* Task Items */
#todo_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  transition: background 0.3s;
}


#todo_list li.completed {
  text-decoration: line-through;
  color: gray;
}


#todo_list li button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#todo_list li button:hover {
  background: #d93636;
}
